<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common :: head_fragment(title='error', links=~{::link}, scripts=~{::script})">
    <title>error</title>
</head>
<body>

<div class="container d-flex flex-column align-items-center mt-5">
    <p class="font-weight-bold display-1" th:text="${title}">Error!</p>
    <p class="display-4" th:text="${status}"></p>
    <button class="btn btn-primary" onclick="location.href='http://localhost:8080/index'">トップページに戻る</button>
</div>

</body>
</html>
