<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common :: head_fragment(title='index', links=~{::link}, scripts=~{::script})">
    <title>index</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-custom navbar-dark fixed-top" th:fragment="navbar_fragment">
    <div class="container">
        <a class="navbar-brand" href="http://localhost:8080/index">Springboot Hands-on level.4</a>
    </div>
</nav>

<div class="container">
    <h1>検索したロケーションに近いカフェ一覧を表示する</h1>

    <form action="#" th:action="@{/search}" method="GET">
        <p>
            <label for="userLocation">検索するロケーション:</label>
            <input id="userLocation" name="userLocation" type="text" size="40"/>
            <input type="submit" value="検索する"/>
        </p>
    </form>
    <div th:if="${userLocation}">
        <p>「<span th:text="${userLocation}"></span>」での検索</p>
    </div>
    <div th:if="${message}">
        <p><span th:text="${message}"></span></p>
    </div>
    <div th:if="${coordinates}">
        <p>中心地点: <span th:text="${coordinates}"></span></p>
    </div>
    <div th:if="${resultsNumber}">
        <p>検索件数: <span th:text="${resultsNumber}"></span></p>
    </div>

    <div th:if="${features}">
        <p>検索結果:</p>
        <table class="table_border w-75">
            <thead>
            <th>店名</th>
            <th>住所</th>
            </thead>
            <tbody th:each="feature : ${features}">
            <td th:text="${feature.name}"></td>
            <td th:text="${feature.property.address}"></td>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
