<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common :: head_fragment(title='index', links=~{::link}, scripts=~{::script})">
    <title>index</title>
</head>

<body>

<h1>Springboot Handson level.4</h1>
<h2>最寄り駅のカフェ一覧を表示する</h2>

<p>「<span th:text="${userLocation}"></span>」での検索結果</p>
<p>中心地点: <span th:text="${coordinates}"></span></p>
<p>検索件数: <span th:text="${resultsNumber}"></span></p>
<p>検索結果:</p>

<table class="table_border">
    <tr>
        <th>店名</th>
        <th>住所</th>
    </tr>
    <tr>
        <td th:text="${features[0].name}"></td>
        <td th:text="${features[0].property.address}"></td>
    </tr>
    <tr>
        <td th:text="${features[1].name}"></td>
        <td th:text="${features[1].property.address}"></td>
    </tr>
    <tr>
        <td th:text="${features[2].name}"></td>
        <td th:text="${features[2].property.address}"></td>
    </tr>
    <tr>
        <td th:text="${features[3].name}"></td>
        <td th:text="${features[3].property.address}"></td>
    </tr>
    <tr>
        <td th:text="${features[4].name}"></td>
        <td th:text="${features[4].property.address}"></td>
    </tr>
    <tr>
        <td th:text="${features[5].name}"></td>
        <td th:text="${features[5].property.address}"></td>
    </tr>
    <tr>
        <td th:text="${features[6].name}"></td>
        <td th:text="${features[6].property.address}"></td>
    </tr>
    <tr>
        <td th:text="${features[7].name}"></td>
        <td th:text="${features[7].property.address}"></td>
    </tr>
    <tr>
        <td th:text="${features[8].name}"></td>
        <td th:text="${features[8].property.address}"></td>
    </tr>
    <tr>
        <td th:text="${features[9].name}"></td>
        <td th:text="${features[9].property.address}"></td>
    </tr>
</table>

</body>
</html>
